<!-- ROW 1 -->
<div class="row-med">
<div class="col-xs-12 col-md-6 full">
  <div class="inborder">
    <div class="centercontent3">
      <h2>GADA Productions</h2>
      <p>Photography and video production</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6 full">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/sycamore/sycamore_4.jpg" alt="img01">
    <div class="topcontent" style="z-index: 1; position: absolute;top: 2%; left: 5%; color: white">
      <h1>Food photography</h1>
    </div>
</div>

<!-- END OF ROW 1 -->
<!-- ROW 2 -->
<div class="row-med">
<div class="col-xs-12 col-md-3 half displaycontent">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/matt_meera_restaurant/matt_meera_restaurant_14.jpg" alt="small_business_promotional_videos">
</div>
<div class="col-xs-12 col-md-3 half">
  <div class="inborder">
    <div class="centercontent">
      <h2>Services</h2>
      <ul>
        <li><a routerLink='/food-photography'>Food Photography</a></li>
        <li><a routerLink="/real-estate-photography">Real Estate Photography</a></li>
        <li><a routerLink="/videos">Business Promotional videos</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6 half">
  <div class="inborder">
    <div class="topcontent">
      <p>Gaby and Danny are an award-winning team offering professional commercial photography and commercial videography in New Jersey, New York and Conneticut.
      </p>
      <p>Our documentary style photography means that you’ll hardly know we’re there…until we reveal the wedding photos of your dreams: the pictures that not only capture all of the details you’ve spent many months – even years – perfecting, but also those beautiful, emotional moments between family members, friends and you, the bride and groom.</p>
    </div>

  </div>
</div>
</div>
<!-- END OF ROW 2 -->
<!-- ROW 3 -->
<div class="row-med">
<div class="col-xs-12 col-md-6 full">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/alden_park/alden_park_34.jpg" alt="img01">
    <div class="topcontent" style="z-index: 1; position: absolute;top: 70%; left: 5%; color: white">
      <h1>Real Estate photography</h1>
    </div>
</div>
<div class="col-xs-12 col-md-3 half">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/bibou/bibou_11.jpg" alt="small_business_promo_videos">
</div>
<div class="col-xs-12 col-md-3 half">
  <div class="inborder">
    <div class="centercontent">
      <h2>Experience</h2>
      <p>We have more than 10 years of experience in photography and videography service</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-3 half">
  <div class="inborder">
    <div class="centercontent">
      <h2>Equipment</h2>
      <ul>
        <li>Canon cameras and lenses</li>
        <li>Zoom and Tascam Sound Recorders</li>
        <li>manfrotto tripods</li>
        <li>lowell lights</li>
        <li>sennheiser and rode microphones</li>
      </ul>

    </div>
  </div>
</div>
<div class="col-xs-12 col-md-3 half">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/alden_park/alden_park_35.jpg" alt="real_estate_photography">
  <div class="boxcontent">
    <div class="centercontent">
      <h4>Real Estate Photography</h4>
      <p>Check our real estate photography</p>
      <a class="button wbtn" href="real_estate_photography">view</a>
    </div>
  </div>
</div>
</div>
