<div class="row row-med">
  <div class="col-xs-12 col-md-6 full">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1505.7825226671162!2d-74.0468889610605!3d40.9910042037621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e56ffdcfcff3%3A0xf73506820589f9d2!2s236+David+Hooper+Dr%2C+Westwood%2C+NJ+07675!5e0!3m2!1sen!2sus!4v1451457800938" width="100%" height="100%" frameborder="0" style="border:1px" allowfullscreen></iframe>
  </div>
  <div class="col-xs-12 col-md-3 full">
    <div class="inborder half bottommargin">
      <div class="centercontent2">
        <p class="glyphicon glyphicon-phone"></p>
        <h4>Call us</h4>
         <h3><a class="button wbtn" href="tel:2018673634">201.867.3634</a></h3>
      </div>
    </div>
    <div class="inborder topmargin" style="height: 47%;">
      <div class="centercontent">
        <p class="glyphicon glyphicon-map-marker"></p>
        <h4>We are located in</h4>
        <h3>Westwood, NJ</h3>
        <p>236 David Hooper Pl</p>
      </div>
    </div>
  </div>
</div>
<div class="row row-med">
  <div class="col-xs-12 col-md-9 full">
    <div class="inborder contact">
      <form [formGroup]="userForm" (submit)="addItem(userForm.value)">
        <label for="name">Name</label>
        <input class="form-control" formControlName="name" id="name" placeholder="enter your name" #name/>
        <!-- <control-messages [control]="userForm.controls.name"></control-messages> -->
        <p *ngIf="userForm.controls.name.dirty && userForm.controls.name.invalid" class="ui error message">Name is required</p>

        <label for="date">Date</label>
        <my-date-picker formControlName="date" placeholder="enter the date of the event" #date></my-date-picker>
        <!-- <input type="date" formControlName="date" #date> -->
        <p *ngIf="userForm.controls.date.dirty && userForm.controls.name.invalid" class="ui error message">Date is required</p>

        <label for="email">Email</label>
        <input class="form-control" formControlName="email" id="email" placeholder="enter your email" #email/>
        <p *ngIf="userForm.controls.email.dirty && userForm.controls.email.invalid" class="ui error message">Invalid email format</p>


        <label for="address">Address</label>
        <input class="form-control" formControlName="address" id="address" placeholder="enter your address" #address/>
        <!-- <p *ngIf="userForm.controls.address.dirty && userForm.controls.address.invalid" class="ui error message">address is required</p> -->

        <label for="states">State</label>
        <select class="form-control" formControlName="state" id="state" #state>
          <option *ngFor="let item of states" [value]="item.abbreviation">
            {{item.name}}
          </option>
        </select>
        <control-messages [control]="userForm.controls.address"></control-messages>
        <button type="submit" class="btn btn-primary submit" [disabled]="!userForm.valid" data-toggle="modal" data-target=".bs-example-modal-lg">Submit</button>
      </form>
    </div>
  </div>
  <!-- MODAL -->
  <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <h2>THANK YOU FOR REQUEST</h2>
        <p>Your request has been accepted. Somebody from Gada Productions will contact you</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/home">Close</button>
        </div>
    </div>
  </div>
</div>
