<div class="row-med">
	<div class="col-sx-12 col-md-8 full">
		<div class="inborder">
			<div class="centercontent">
				<h2>Danilo Morales</h2>
				<h4>Videographer, Photographer, Editor</h4>
				<p>Danilo has been working as a videographer for a long time</p>
			</div>
		</div>
	</div>
	<div class="col-sx-12 col-md-4 full">
		<img class="portrait" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/team/Danilo_Morales.jpg" alt="danilo-morales" >
	</div>
</div>
<div class="row-med">
	<div class="col-sx-12 col-md-4 full">
		<img class="portrait" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/team/gaby.jpg" alt="gabriela-fuentes" >
	</div>
	<div class="col-sx-12 col-md-8 full">
		<div class="inborder">
			<div class="centercontent">
				<h2>Gabriela Fuentes</h2>
				<h4>Videographer, Photographer, Editor</h4>
				<p>Gabriela has been working as a videographer for a long time</p>
			</div>
		</div>
	</div>
</div>
