<!-- ROW 1 -->
<div class="row-med">
<div class="col-xs-12 col-md-6 full">
  <div class="inborder">
    <div class="centercontent3">
      <h2>GADA Productions</h2>
      <p>Photography and video production</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-3 half displaycontent">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/matt_meera_restaurant/matt_meera_restaurant_14.jpg" alt="small_business_promo_videos">
  <div class="boxcontent">
    <div class="centercontent">
      <h4>Small Business Promo Videos</h4>
      <p>Check our small business promo videos</p>
      <a routerLink="/videos">view</a>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-3 half displaycontent">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/alden_park/alden_park_47.jpg" alt="real_estate_photography">
  <div class="boxcontent">
    <div class="centercontent">
      <h4>Real Estate Photography</h4>
      <p>Check our real estate photography</p>
      <a routerLink="/real-estate-photography">view</a>
    </div>
  </div>
</div>
 <div class="col-xs-12 col-md-3 half displaycontent">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/bibou/bibou_2.jpg" alt="food_photography_bibou">
  <div class="boxcontent">
    <div class="centercontent">
      <h4>Food photography</h4>
      <p>Check our food photography</p>
      <a routerLink="/food-photography">View</a>
    </div>
  </div>
</div>
 <div class="col-xs-12 col-md-3 half">
  <div class="inborder">
    <div class="centercontent">
      <h4>
        About us
      </h4>
      <p>We are a commercial photography and video service</p>
      <p>We understand marketing and the importance of advertising your product or service to the public</p>
      <a routerLink='/about'>read more</a>
    </div>
  </div>
</div>
</div>
<!-- END OF ROW 1 -->
<!-- ROW 2 -->
<div class="row-med">
<div class="col-xs-12 col-md-3 full">
  <div class="inborder">
    <div class="centercontent">
      <h2>Services</h2>
      <ul>
        <li>Food Photography</li>
        <li>Real Estate Photography</li>
        <li>Commercial Videos</li>
        <li>Business Promotional videos</li>
        <li>Web Design and Development</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6 full">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/sycamore/sycamore_8.jpg" alt="food_photography_sycamore">
</div>
<div class="col-xs-12 col-md-3 two-thirds displaycontent">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/portfolio/team/team.png" alt="team">
    <div class="boxcontent">
      <div class="centercontent">
        <h4>Our Team</h4>
        <p>Check our team members</p>
        <a routerLink='/team'>view</a>
      </div>
    </div>
</div>
<div class="col-xs-12 col-md-3 one-third">
  <div class="inborder">
    <div class="centercontent">
      <p class="glyphicon glyphicon-phone"></p>
      <h4><a routerLink='/contact'>Contact us</a></h4>
      <p>We are a photography and video production company</p>
    </div>
  </div>
</div>
</div>
<!-- END OF ROW 2 -->
<!-- ROW 3 -->
<div class="row-sml">
<div class="col-xs-12 col-md-3 full displaycontent">
  <img class="imgsq" src="https://s3.amazonaws.com/gadaphotos/photos/thumbnails/animation.png" alt="animations">
  <div class="boxcontent">
    <div class="centercontent">
      <h4>Animations</h4>
      <p>Check some of the logo animations created for our marketing videos</p>
      <a routerLink="/animations">view</a>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6 full">
  <div class="inborder">
    <div class="centercontent2">
      <ul class="inline-list">
        <li><a href="https://www.facebook.com/TheWeddingCentral/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.behance.net/gadaproductions" target="_blank"><i class="fa fa-behance"></i></a></li>
        <li><a href="https://vimeo.com/channels/smallbusinesspromovideos" target="_blank"><i class="fa fa-vimeo"></i></a></li>
        <!-- <li><a href="https://twitter.com/gadaproductions" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
         <li><a href="https://www.flickr.com/photos/139953826@N08/" target="_blank"><i class="fa fa-flickr"></i></a></li>
         <li><a href="https://www.flickr.com/photos/139953826@N08/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-3 full">
  <div class="inborder">
    <div class="centercontent2">
      <!-- <p class="glyphicon glyphicon-phone"></p> -->
      <h2><a routerLink="/instagram">What's new</a></h2>
      <p>Check our instagram to see what we are doing</p>

    </div>
  </div>
</div>
</div>
