
<div class="row-med">
    <div *ngFor="let realEstate of realEstate" class="col-xs-12 col-md-3 half displaycontent">
        <img class="imgsq" src="{{realEstate.url}}" alt="">
        <div class="boxcontent">
            <div class="centercontent">
              <h4>{{realEstate.title}}</h4>
              <p>{{realEstate.description}}</p>
              <h4><a class="portfolio-btn wbtn" routerLink="/real-estate-photography/{{realEstate.title}}">VIEW WORK</a></h4>
              <!-- <h4><a class="portfolio-btn wbtn" routerLink="{{realEstate.link}}">VIEW WORK</a></h4> -->
            </div>
        </div>
    </div>
</div>
